*{
    font-size: 18px;
  }
  
  ul li{
    margin-top: 15px;
  }
  /*Pop up sign in*/
  .popup{
    background: rgba(0, 0,0,0.6);
    backdrop-filter: blur(3px);
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .popup-content{
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
  }
  #Login{ 
    position: absolute;
    background: white;
    padding: 10px 50px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.4s;
    bottom: 25px; 
    right: 20px;
    
  }
  #Login:hover{
    background-color: lightblue;
  }
  .close{
    position: absolute;
    background-color: #fff;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    box-shadow: 6px 2px 29px 4px rgba(0, 0,0,0.75);
    cursor: pointer;
  }
  .close:hover{
    background: red;
  }
  /********************************************/
  /* flex tables */
.flex1{
  display: flex;
  background-color: rgb(255, 255, 255);
}

.flex1 > div {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;
  font-size: 10px;
}

.flex2{
  display: flex;
  background-color: rgb(255, 255, 255);
}

.flex2 > div {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;
  font-size: 10px;
}

.flex3{
  display: flex;
  background-color: rgb(255, 255, 255);
}

.flex3 > div {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;
  font-size: 10px;
}

.flex4{
  display: flex;
  background-color: rgb(255, 255, 255);
}

.flex4 > div {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;
  font-size: 10px;
}
/*********/


/*Circles*/
.why_us_circles {
  display:inline;
  margin-bottom:10px;
} 
.why_us_circles > * {
  display: inline;
  margin: 20px;
  border-radius: 20px;
  padding:8px;
  background-color:aqua;
  width:fit-content;
}
/*************/



  /* nav styles */
    nav {
      display: flex;
      padding: 2% 6%;
      justify-content: space-between;
      align-items: center;
    }
      
    .navLinks{
      flex: 1;
      text-align: right;
    }
      
    .navLinks ul li {
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;  
    }
      
    .navLinks ul li a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
    }
      
    .navLinks ul li::after {
      content: '';
      width: 0%;
      height: 2px;
      background: aqua;
      display: block;
      margin: auto;
      transition: 0.5s;
    }
      
    .navLinks ul li:hover::after {
      width: 100%;
    }
  
    nav .fa{
      display: none;
  }
  
  .navLinks button { /*Sign up button*/
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: rgb(0, 200, 255);
    padding: 10px 35px;
    margin-left: 30px;
    background: lightblue;
    position: relative;
    cursor: pointer;
  }
  
  .navLinks button:hover {
    border: 1px solid blue;
    background: aqua;
    transition: 0.5s;
  }
  
  @media (max-width:700px) {
    .navLinks ul li {
      display: block;
      color: white;
    }
  
    .navLinks ul {
      flex-direction: column; /* Display links vertically */
  
    }   
    .navLinks{
      position: absolute;
      background: rgb(44, 109, 231);
      height: 100vh;
      width: 200px;
      top: 0;
      display: none;
      text-align:left;
      z-index: 2;
      transition: 1s;
    }
    nav .fa{
      display: block;
      color: #000000;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  
    .navLinks ul{
      padding: 15px;
  
    }
  
    .navLinks ul li a{
      color: white;
    }
  
    *{
      font-size: 1em;
    }
  
    .navLinks button{
      margin-top: 20px;
    }
}
/* Code down here is for the footer*/
.footer {
      position:relative;
      border-top-width:thin;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #D3D3D3; /* Change this to the background color you want */
      color: #fff; /* Change this to the text color you want */
      text-align: center;
      margin-top: 10px;
      
      
  }
  
  .footer-content {
      display: flex;
      padding-top: 5px;
      padding-bottom:5px;
      /* justify-content: space-between; */
      align-items:center;
      color: #fff;
  }
  
  .footer img {
      /* margin-bottom: 10px; Add some margin to the logo to separate it from the links */
      align-items:center;
  }
  .footer .logo{
    align-items:center;
  
  }
  .footer nav ul {
      align-items:center;
      padding: 0;
      color: #fff;
  }
  
  .footer nav ul li {
  
      display: inline-flex;
      margin-right: 100px; /* Add some spacing between the links */
      color: #fff;
  }
    
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Set a minimum height to ensure the footer stays at the bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navLinks2{
  flex: 1;
  text-align: center;
}
.footer nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.footer nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;  
}
  
.footer nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
  
.footer nav ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: aqua;
  display: flex;
  margin: auto;
  transition: 0.5s;
}
.footer nav ul li:hover::after {
  width: 100%;
}
/* End footer*/


/*ABOUT US PAGE*/
.container{
  text-align: center;
}

 .header{
  padding-top: 5px;
  color: #000000;
  font-size: 30px;
  /* line-height: 50px; */
}

.sub-container{
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams{
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover{
  background: #ddd;
  border-radius: 12px;
}

.teams img{
  width: 200px;
  height: 200px;

}

.name{
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.desig{
  font-style: italic;
  color: #888;
}

.about{
  margin: 20px 0;
  font-weight: lighter;
  color: #1e1c1c;
}

.social-links{
  margin: 14px;
}

.social-links a{
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: .4s;
}

.social-links a:hover{
  transform: scale(1.5);

} 



/**********EXERCISE PAGE*****************/
#image-container {
  position: relative;
 
}

.body-image{
  display:grid;
  margin-left:auto;
  margin-right: auto;
  width: 450px;
  height: 450px;
  position: relative;
  }
  
  /* #box{
    width: 50px;
    height: 50px;
    position: absolute;
    top:200px; 
    left:430px; 
    background-color: red;
  }
  
  #arms,#legs,#torso,#back{
    height: 700px;
  } */
  /**/
.torsasdas
#overlaytorso {
  position: absolute;
 
  top: 50%;
  left: 50%;
  transform: translate(-140px, -100%);
  /* top:250px;
  left:813px; */
  width:80px;
  height: 150px;
  cursor: pointer;
 
  /* top: 20%; 
  left: 25%;  */
  /* top: calc(15% + 20px); 
  left: calc(27% + 30px);
  width: 80px; 
  height: 140px; */
 
}

.overlaytorso:hover {
  background: green;
  opacity: 0.4;
  cursor: pointer;
  pointer-events: none;
}

.overlaytorso:hover:after{
  pointer-events: none;
}


/**/
.overlayleftarm1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-208px, -75%);
  width:35px;
  height: 150px;
  rotate:10deg;
  

}

.overlayleftarm1:hover {
  background: green;
  opacity: 0.4;
  cursor: pointer;

  pointer-events: none;
}

.overlayleftarm1:hover:after{

  pointer-events: none;
}

/**/
.overlayrightarm1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(15px, 100%); 
  width:35px;
  height: 150px;
  rotate:165deg;

}

.overlayrightarm1:hover {
  background: green;
  opacity: 0.4;
  cursor: pointer;
 
  pointer-events: none;
}

.overlayrightarm1:hover:after{

  pointer-events: none;
}
/**/
.overlayleftleg1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-145px, -1%); 
  width:45px;
  height: 180px;
}

.overlayleftleg1:hover {
  background: green;
  opacity: 0.4;
  pointer-events: none;
}

.overlayleftleg1:hover:after{

  pointer-events: none;
}
/**/
#overlayrightleg1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-95px, -1%); 
  width:45px;
  height: 180px;
 
}

#overlayrightleg1:hover {
  background: green;
  opacity: 0.4;
  cursor: pointer;
 
  pointer-events: none;
}

#overlayrightleg1:hover:after{

  pointer-events: none;
}
/**/
#overlayleftarm2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15px, -90%); 
  rotate:12deg;
  width:35px;
  height: 180px;
 
}

#overlayleftarm2:hover {
  background: green;
  opacity: 0.4;
  cursor: pointer;
  pointer-events: none;
}

#overlayleftarm2:hover:after{
  pointer-events: none;
}
/**/
#overlayrightarm2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-175px, 70%); 
  rotate: 165deg;
  width:35px;
  height: 150px;

}

#overlayrightarm2:hover {
  background: green;
  opacity: 0.4;
  cursor: pointer;
 
  pointer-events: none;
}

#overlayrightarm2:hover:after{

  pointer-events: none;
}
/**/
#overlayback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(60px, -100%); 
  width:80px;
  height: 150px;
;
}

#overlayback:hover {
  background: green;
  opacity: 0.4;
  cursor: pointer;
  pointer-events: none;
}

#overlayback:hover:after{
  pointer-events: none;
}
/**/
#overlayleftleg2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(55px, -10%); 
  width:45px;
  height: 180px;

}

#overlayleftleg2:hover {
  background: green;
  opacity: 0.4;
  cursor: pointer;
 
  pointer-events: none;
}

#overlayleftleg2:hover:after{

  pointer-events: none;
}
/**/
#overlayrightleg2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100px, -10%); 
  width:45px;
  height: 180px;

}

#overlayrightleg2:hover {
  background: green;
  opacity: 0.4;
  cursor: pointer;
 
  pointer-events: none;
}

#overlayrightleg2:hover:after{

  pointer-events: none;
}
.exercise-content{
  justify-content: center; /* Center along the horizontal axis */
    align-items: center; 
 
}

#arms,#legs,#torso,#back {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
 
}
#arm-title,#leg-title,#torso-title,#back-title{
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

/*selection animation*/
.highlighted {
  animation: blink 1s; 
}

@keyframes blink {
  from,to {
      background-color: white; 
  }
  50% {
      background-color: rgba(233, 229, 229, 0.719); 
  }
}
/* .body-image {
  display: block;
  max-width: 100%;
  height: auto;
} */



/* #overlaytorso {
  position: absolute;
  top: 20%; 
  left: 30%; 
  width: 40%; 
  height: 30%;
  background-color: green;
  opacity: 0.7;
  pointer-events: none;
  transition: opacity 0.3s ease;
} */
