/*
'*' == select any and all types of elements in an HTML page
*/
*{
    box-sizing: border-box;
    margin:auto 0;
    padding: 0;
    }

body{
    display:flex;
    flex-direction: column;
    min-height: 100px;
    background: rgb(245, 243, 156);
    color: black;
    font-family: 'Pencil', sans-serif;
    background-image: url(looseleaf.jpg);
    background-size:900px;
    
    
}
header{
    padding:2rem 1rem;
    max-width:500px;
    width:100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    padding-left: 0;
}

#task-form{
    display: flex;
    margin-right: 0;
    
}
input,button{
    appearance: none;
    border:none;
    outline: none;
    background: none;
}


#task-input{
    flex:1 1 0%;
    margin-top:28px; 
    font-size: 1.25rem;
    font-family:'Pencil','Courier New';
    font-size:25px;
    /* border: solid; */
}
#task-input::placeholder{
    color: grey;
    font-family:'Pencil','Courier New';
    font-size:25px;
}
#submit-input{
    cursor:pointer;
    transition:0.4s;
    margin-top: 19px;
    
    padding-right: 130px;
    margin-right: 50px;
    nav-left: 20px;
    /* border: solid; */
    
}
#submit-input:hover{
opacity:0.6;
}
#submit-input:active{
    opacity:0.8;
}
main{
    display:flex;
    flex-direction: column;
    display: inline-flex;
    min-height: 100px;
    color: gray;
    flex:1 1 0%;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    
    
   
}

.task-list{
    padding:1rem;
    
    
}
.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: gray;
    margin-bottom: 1rem;
    
}
#tasks .task {
    display:flex;
    
    /* background-color: honeydew; */
    padding: 2px;
    border-radius: 1rem;
    /* border: solid; */
    color:black;
    margin-top: 25px;
    margin-bottom: 28px;
    
}

#tasks .task .content .text{
    color: rgb(79, 77, 77);
    font-size: 30px;
    width: 100%;
    display:block;
    transition:0.4s;
    font-family:'Pencil','Courier New';

}

#tasks .task .content .text:not(:read-only){

color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: large;

}

#tasks .task .action{
    display:flex;
    margin:0,-0.5rem;
    transition: 0.4s;
}

.task .action img{
    cursor:pointer;
    margin:0rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

/* .task .action img:hover{
    opacity:0.6;
    }
.task .action img:active{
    opacity:0.8;
} */

/*Icon Buttons*/
.task .action .edit:hover{
    opacity:0.6;
    
}
.task .action .edit:active{
    opacity:0.8;
}


.task .action .X:hover{
    
    opacity:0.6;
  
}
.task .action .X:active{
    
    opacity:0.8;
 
}
.task .action .edit{
    margin-bottom: 5px;
}

.task .action .X{
    margin-bottom: 5px;
    padding-left: 20px;
    
}

h3{ /*Title: Completed*/
    text-align: center;
    color: green;
    text-decoration: underline;
    font-family: 'Pencil','Courier New';
    font-size: 30px;
}

.complete{
    box-shadow:100px,20px;
}  
.complete-border{
    border: solid;
    border-color: rgb(245, 245, 50);
    border-radius: 10px;
    background-color:rgb(245, 245, 50);
    min-width: 470px;
    align-items: center;
    flex-direction: column;
    height: 500px;
    position: fixed;
    margin-top: 100px;
    box-shadow: 20px,20px, 1000px;
   
}

#c-tasks .task{
    display:flex;
    justify-content: space-between;
    background-color: lightgreen;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color:black;
    margin:10px;
    
}
#c-tasks .task .content .text{
    color: black;
    font-size: 2rem;
    font-family: 'Pencil', sans-serif;
    width: 100%;
    display:block;
    transition:0.4s;
   
}
