/*
'*' == select any and all types of elements in an HTML page
*/
*{
    box-sizing: border-box;
    margin:auto 0;
    padding: 0;
    }

body{
    display:flex;
    flex-direction: column;
    background: rgb(245, 243, 156);
    color: black;
    font-family: 'Pencil', sans-serif;
    background-image: url(looseleaf5.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
}
#textImage-border{
    vertical-align: baseline;
}
header{
    padding:2rem 1rem;
    max-width:500px;
    width:fit-content;
    margin: 0 auto;

}
header h1{
    font-size: 50px;
    font-weight: 300;
    margin-top: 50px;
    padding-left: 0;
    font-family: 'Pencil', sans-serif;
}

#task-form{
    display: flex;
    margin-right: 0;
    margin-bottom: 0;
    
}
input{
    appearance: none;
    border:none;
    outline: none;
    background: none;
   
}


#task-input{
    flex:1 1 0%;
    margin-top:10px; 
    font-size: 1.25rem;
    font-family:'Pencil','Courier New';
    font-size:25px;
    margin-top: 66px;
    /* border: solid; */
}
#task-input::placeholder{
    margin-top: 20px;
    color: grey;
    font-family:'Pencil','Courier New';
    font-size:25px;
    /* border: solid; */
}
#submit-input{
    cursor:pointer;
    transition:0.4s;
    margin-top: 30px;
    nav-left: 20px;
    /* border: solid; */
    
}
#submit-input:hover{
opacity:0.6;

}
#submit-input:active{
    opacity:0.8;
}
main{
    display:flex;
    flex-direction: column;
    display: inline-flex;
    min-height: 100px;
    color: gray;
    flex:1 1 0%;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    vertical-align: baseline;
   
}

.colourbutton {
    border: solid;
    border-radius: 5px;
    padding-right:10px;
    /* margin-right: 1px; */
    margin-left: 20px;
    background-color: red;
    box-shadow: 0px 0px;
    margin-bottom: 5px;
    align-items: center;
}
.colourbutton:hover{
    cursor: pointer;
    opacity:0.9;
    transition:0.4s;
    
}
.colourbutton:active{
    opacity:0.8;
    border: inset;
}
.colourbutton2 {
    border: solid;
    box-shadow: 0px 0px;
    border-radius: 5px;
    padding-right:10px;
    margin-right: 1px;
    margin-left: 1px;
    background-color: orange;
    margin-bottom: 5px;
}
.colourbutton2:hover{
    cursor: pointer;
    opacity:1;
    transition:0.4s;
    
}
.colourbutton2:active{
    opacity:0.8;
    border: inset;
}
.colourbutton3 {
    border: solid;
    box-shadow: 0px 0px;
    border-radius: 5px;
    padding-right:10px;
    margin-right: 2px;
    margin-left: 0px;
    background-color: aqua;
    margin-bottom: 5px;
}
.colourbutton3:hover{
    cursor: pointer;
    opacity:0.9;
    transition:0.4s;
    
}
.colourbutton3:active{
    opacity:0.8;
    border: inset;
}
/* .date{
    
    border: solid;
} */
.task-list{
    padding:1rem;
    
}
.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: gray;
    margin-bottom: 1rem;
    
}
#tasks .task {
    display:flex;
    /* background-color: honeydew; */
    /* padding: 2px; */
    border-radius: 1rem;
    border: solid;
    color:rgb(12, 9, 9);
    margin-top: 25px;
    margin-bottom: 30px;
    padding-left: 2px;
    margin-left: 100px;


}
#tasks .task .content .text{
    color: rgb(79, 77, 77);
    font-size: 30px;
    display:flex;
    transition:0.4s;
    font-family:'Pencil','Courier New';
    max-width: fit-content;
    
  
    
} 



#tasks .task .content .text:not(:read-only){

color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: large;

}


#tasks .task .content{
    justify-content: space-evenly;
    
}
#tasks .task .action{
    display:inline-flex;
    transition: 0.4s;
    margin-left: 10px;
}

/*Icon Buttons*/
.task .action .edit:hover{
    opacity:0.6;
    
}
.task .action .edit:active{
    opacity:0.8;
    
}


.task .action .X:hover{
    
    opacity:0.6;
    
}
.task .action .X:active{
    
    opacity:0.8;
 
}
.task .action .edit{
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 5px;
   
}

.task .action .X{
    margin-bottom: 5px;
    /* padding-left: 2px; */
    
}

/* task1 (task w/o dates)*/
.T1colourbutton {
    border: solid;
    border-radius: 5px;
    padding-right:10px;
    /* padding-left: 1px; */
    margin-right: 0px;
    margin-left: 157px;
    background-color: red;
    box-shadow: 0px 0px;
    margin-bottom: 5px;
    align-items: center;
    padding-bottom: 10px;
}
.T1colourbutton:hover{
    cursor: pointer;
    opacity:0.9;
    transition:0.4s;
    
}
.T1colourbutton:active{
    opacity:0.8;
    border: inset;
}
.T1colourbutton2 {
    border: solid;
    box-shadow: 0px 0px;
    border-radius: 5px;
    padding-right:10px;
    margin-right: 0px;
    margin-left: 1px;
    background-color: orange;
    margin-bottom: 5px;
}
.T1colourbutton2:hover{
    cursor: pointer;
    opacity:1;
    transition:0.4s;
    
}
.T1colourbutton2:active{
    opacity:0.8;
    border: inset;
}
.T1colourbutton3 {
    border: solid;
    box-shadow: 0px 0px;
    border-radius: 5px;
    padding-right:10px;
    margin-right: 2px;
    margin-left: 1px;
    background-color: aqua;
    margin-bottom: 5px;
    /* padding-bottom: 5px; */
}
.T1colourbutton3:hover{
    cursor: pointer;
    opacity:0.9;
    transition:0.4s;
    
}
.T1colourbutton3:active{
    opacity:0.8;
    border: inset;
}
#tasks .task1 {
    display:flex;
    /* background-color: honeydew; */
    border-radius: 1rem;
    border: solid;
    color:rgb(12, 9, 9);
    margin-top: 25px;
    margin-bottom: 28px;
    max-width: 430px;
    padding-left: 2px;
/* 
    max-width: 400px;*/
    margin-left: 100px; 
}
#tasks .task1 .action{
    display:inline-flex;
    transition: 0.4s;
    margin-left: 10px;
}
#tasks .task1 .content .text{
    color: rgb(79, 77, 77);
    font-size: 30px;
    display: flex;
    transition:0.4s;
    font-family:'Pencil','Courier New';
    max-width: 250px;
    

}
#tasks .task1 .content .text:not(:read-only){

color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: large;

}
.task1 .action .edit:hover{
    opacity:0.6;
    
}
.task1 .action .edit:active{
    opacity:0.8;
    
}


.task1 .action .X:hover{
    
    opacity:0.6;
    
}
.task1 .action .X:active{

    opacity:0.8;
 
}
.task1 .action .edit{
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 5px;
   
}

.task1 .action .X{
    margin-bottom: 5px;
    
    
}

h3{ /*Title: Completed*/
    text-align: center;
    color: green;
    text-decoration: underline;
    font-family: 'Pencil','Courier New', Courier, monospace;
    font-size: 30px;
}

.complete{
    box-shadow:100px,20px;
    
}  
.complete-border{
    border: solid;
    border-color: rgb(245, 245, 50);
    border-radius: 10px;
    background-color:rgb(245, 245, 50);
    min-width: 470px;
    align-items: center;
    flex-direction: column;
    height: 500px;
    position: fixed;
    margin-top: 100px;
    box-shadow: 20px,20px, 1000px;
    margin-left:100px;
   
}

#c-tasks .task{
    display:flex;
    justify-content: space-between;
    background-color: lightgreen;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color:black;
    margin:10px;
    
}
#c-tasks .task .content .text{
    color: black;
    font-size: 2rem;
    font-family: 'Pencil', sans-serif;
    width: 100%;
    display:block;
    transition:0.4s;
   
}
#c-tasks .task1{
    display:flex;
    justify-content: space-between;
    background-color: lightgreen;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color:black;
    margin:10px;
    
}
#c-tasks .task1 .content .text{
    color: black;
    font-size: 2rem;
    font-family: 'Pencil', sans-serif;
    width: 100%;
    display:block;
    transition:0.4s;
   
}
